<div>Viewing the replay</div>
<div class="container">
  <div class="row">
    <div class="column">
      <iframe src="<%= @replay_path %>" style="width: 100%; border-width: 0;"/>
    </div>
  </div>
</div>
